@model IEnumerable<BookStore1.Models.LogTable>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LUserType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LDateAndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.U)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LUserType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LDateAndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.U.UAccountStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
