@model IEnumerable<BookStoreApiV2.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.uFName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uLName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uMailId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uAccountStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uRole)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.uFName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uLName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uMailId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uAccountStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uRole)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.uId }) |
            @Html.ActionLink("Details", "Details", new { id=item.uId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.uId })
        </td>
    </tr>
}

</table>
