@model IEnumerable<BookStore1.Models.BookTable>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BIsbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.A)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BIsbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BPosition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BStatus)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.BImage)
        </td>*@
            <td>
                <img src="@("/Images/Books/"+item.BImage)" width="200" height="200" class="img-responsive" />

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.A.ACountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C.CDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
