@model IEnumerable<BookStore1.Models.CouponTable>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CoName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoDiscount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CoName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoDiscount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
