@model BookStore1.Models.AuthorTable

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AuthorTable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AFname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AFname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ASname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ASname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ACountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ACountry)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
