@model IEnumerable<BookStoreApiV2.Models.OrderDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.oTotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.oShippingAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.oBillingAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.oPaymentMode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.bName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.oId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.uFName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.bISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.oTotalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.oShippingAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.oBillingAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.oPaymentMode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book.bName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.oId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.uFName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ordrId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ordrId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ordrId })
        </td>
    </tr>
}

</table>
